{% extends 'base.html' %}


{% block content %}







    <h1>Account</h1>
    <div>Name : {{r.data.username}}</div>
    <div>Email : {{r['data'].email}}</div>
    <br/>
    <div>Feedbacks Provided :
        {% for i in feedbacks_provided %}
            <div>{{i.feedback}}</div>
        {% endfor %}
    </div>
    <br/>
    <div>Courts Booked :
        {% for i in courts_booked %}
            <div>Time: {{i.time}}</div>
            <div>Court: {{i.court}}</div>
        {% endfor %}
    </div>









{% endblock content %}