{% extends 'base.html' %}


{% block content %}
    <h1>Account</h1>
    <div>Name : {{r.data.username}}</div>
    <div>Email : {{r['data'].email}}</div>
    <br/>
    <div>Feedbacks Provided :
        {% for i in feedbacks_provided %}
            <div>{{i.feedback}}</div>
            <form method="POST" action="{{url_for('main.delete_Feedback') }}">
                <input type="hidden" name="id_feedback" value="{{i.id}}">
                <input type="submit" name="delete_feedback" value="Delete">
            </form>
            <br/>
        {% endfor %}
    </div>
    <br/>
    <div>Courts Booked :
        {% for i in courts_booked %}
            <div>Start Time: {{i.start_time}}</div>
            <div>End Time: {{i.end_time}}</div>
            <div>Court: {{i.court}}</div>
            <form method="POST" action="{{url_for('main.delete_court_booking') }}">
                <input type="hidden" name="id_court" value="{{i.id}}">
                <input type="submit" name="delete_court_reservation" data-time="{{i.time}}" data-court="{{i.court}}" value="Delete">
            </form>
            <br/>
        {% endfor %}
    </div>
    <br>

    <h1><u>Change My Account Information</u></h1>
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <div>
            {{form.current_email.label}}
            {{form.current_email}}
        </div>
        <div>
            {{form.new_email.label}}
            {{form.new_email}}
        </div>
        <div>
            {{form.submit}}
        </div>
    </form>

    <form method="POST" action="">
        {{form1.hidden_tag()}}
        <div>
            {{form1.current_password.label}}
            {{form1.current_password}}
        </div>
        <div>
            {{form1.new_password.label}}
            {{form1.new_password}}
        </div>
        <div>
            {{form1.submit}}
        </div>
    </form>

    <form method="POST" action="">
        {{form2.hidden_tag()}}
        <div>
            {{form2.current_username.label}}
            {{form2.current_username}}
        </div>
        <div>
            {{form2.new_username.label}}
            {{form2.new_username}}
        </div>
        <div>
            {{form2.submit}}
        </div>
    </form>




{% endblock content %}