{% extends 'base.html' %}


{% block content %}


    <h1>Account</h1>
    <div><b>Name : {{r.data.username}}</b></div>
    <div><b>Email : {{r['data'].email}}</b></div>
    <br/>
    <br/>
    <br/>

    <div>
        <h3>My Friends</h3>
        {% for i in myFriends %}
            {{i[0].username}}
            <br/>
            <form method="POST" action="{{url_for('user.account')}}">
                <div>
                    <input type="hidden" name="Friends_id" value="{{i[1]}}">
                    <input class="btn btn-danger" type="submit" name='remove_friend' value="Remove">
                </div>
            </form>
            <br/>
            <br/>
            <br/>
        {% endfor %}
    </div>

            <br/>
            <br/>
            <br/>
            <br/>
            <br/>
            <br/>

    <div>
        <h3>Friend requests</h3>
        {% for friend_request in fr %}
            <label>Name</label>
            {{friend_request[0]}}
            <br/>
            <label>Date</label>
            {{friend_request[1].date()}}
            <br/>
            <form method="POST" action="{{url_for('user.account')}}">
                <div>
                    <input type="hidden" name="id_in_FriendsTable" value="{{friend_request[2]}}">
                    <input class="btn btn-success" type="submit" name='accept_friend_request' value="Accept">
                    <input class="btn btn-danger" type="submit" name='decline_friend_request' value="Decline">
                </div>
            </form>
            <br/>
            <br/>
        {% endfor %}

    </div>







    <div>Feedbacks Provided :
{#<!--        {% for i in feedbacks_provided %}-->#}
{#<!--            <div>{{i.feedback}}</div>-->#}
{#<!--            <form method="POST" action="{{url_for('main.delete_Feedback') }}">-->#}
{#<!--                <input type="hidden" name="id_feedback" value="{{i.id}}">-->#}
{#<!--                <input class="btn btn-danger" type="submit" name="delete_feedback" value="Delete">-->#}
{#<!--            </form>-->#}
{#<!--            <br/>-->#}
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Feedback</th>
          <th scope="col">Delete</th>
        </tr>
      </thead>
          <tbody>
               {% for i in feedbacks_provided %}
                <tr>
                  <td scope="row">{{i.feedback}}</td>
                  <td>
                      <form method="POST" action="{{url_for('main.delete_Feedback')}}">
                            <input type="hidden" name="id_feedback" value="{{i.id}}">
                            <input class="btn btn-danger" type="submit" name='delete_feedback' value="Delete">
                      </form>
                  </td>
                </tr>
                {% endfor %}
          </tbody>
    </table>
{#<!--        {% endfor %}-->#}
    </div>
    <br/>


    <div>Courts Booked :
{# <!--        {% for i in courts_booked %}--> #}
{#<!--            <div>Start Time: {{i.start_time}}</div>-->#}
{#<!--            <div>End Time: {{i.end_time}}</div>-->#}
{#<!--            <div>Court: {{i.court}}</div>-->#}
{#<!--            <form method="POST" action="{{url_for('main.delete_court_booking') }}">-->#}
{#<!--                <input type="hidden" name="id_court" value="{{i.id}}">-->#}
{#<!--                <input class="btn btn-danger" type="submit" name="delete_court_reservation" data-time="{{i.time}}" data-court="{{i.court}}" value="Delete">-->#}
{#<!--            </form>-->#}
    <table class="table table-hover table-dark">
      <thead>
        <tr>
          <th scope="col">Start Time</th>
          <th scope="col">End Time</th>
          <th scope="col">Court Number</th>
          <th scope="col">Delete</th>
        </tr>
          </thead>
              <tbody>
                {% for i in courts_booked %}
                <tr>
                  <td scope="row">{{i.start_time}}</td>
                  <td scope="row">{{i.end_time}}</td>
                  <td scope="row">{{i.court}}</td>
                  <td>
                      <form method="POST" action="{{url_for('main.delete_court_booking')}}">
                            <input type="hidden" name="id_court" value="{{i.id}}">
                            <input class="btn btn-danger" type="submit" name='delete_court_reservation' value="Delete">
                      </form>
                  </td>
                </tr>
                {% endfor %}
              </tbody>
          </table>
        <br/>
{#<!--        {% endfor %}-->#}
    </div>
    <br>



    <h1><u>Change My Account Information</u></h1>
    <form method="POST" action="">
        {{form.hidden_tag()}}
        <div style="min-width:45%;" class="input-group mb-3">
            {{form.current_email.label(class="input-group-text",id="inputGroup-sizing-lg")}}
            {{form.current_email(class="form-control")}}
        </div>
        <div style="min-width:45%;" class="input-group mb-3">
            {{form.new_email.label(class="input-group-text",id="inputGroup-sizing-lg")}}
            {{form.new_email(class="form-control")}}
        </div>
        <div>
            {{form.submit(class="btn btn-outline-success")}}
        </div>
    </form>

    <br>
    <br>
    <form method="POST" action="">
        {{form1.hidden_tag()}}
        <div style="width:45%;" class="input-group mb-3">
            {{form1.current_password.label(class="input-group-text",id="inputGroup-sizing-lg")}}
            {{form1.current_password(class="form-control")}}
        </div>
        <div style="width:45%;" class="input-group mb-3">
            {{form1.new_password.label(class="input-group-text",id="inputGroup-sizing-lg")}}
            {{form1.new_password(class="form-control")}}
        </div>
        <div>
            {{form1.submit(class="btn btn-outline-success")}}
        </div>
    </form>

    <br>
    <br>
    <form method="POST" action="">
        {{form2.hidden_tag()}}
        <div style="width:45%;" class="input-group mb-3">
            {{form2.current_username.label(class="input-group-text",id="inputGroup-sizing-lg")}}
            {{form2.current_username(class="form-control")}}
        </div>
        <div style="width:45%;" class="input-group mb-3">
            {{form2.new_username.label(class="input-group-text",id="inputGroup-sizing-lg")}}
            {{form2.new_username(class="form-control")}}
        </div>
        <div>
            {{form2.submit(class="btn btn-outline-success")}}
        </div>
    </form>




{% endblock content %}