{% extends 'base.html' %}

{% block content %}
    <h1>Booking</h1>
<form method="POST" action="">
    {{form.hidden_tag()}}
    <div>
        <label for="date">Date</label>
        <input type="datetime" name="date" placeholder="YYYY-DD-MM">
    </div>
    <div>
        <label for="time">Start Time</label>
        <input type="time" name="start_time">
    </div>
    <div>
        <label for="time">End Time</label>
        <input type="time" name="end_time">
    </div>
    <div>
        {{form.court.label}}
        {{form.court}}
    </div>
    <div>
        {{form.submit}}
    </div>
</form>
{% endblock content %}

