{% extends 'base.html' %}

{% block content %}
    <h1>Plan your meals here. Enjoy :)</h1>
    <hr>
    <br>
    <form method="POST">
<!--        <label for="email">Friend's email: </label>-->
<!--        <input type="email" id="email" name="email">-->
        <label for="username">Friend's name: </label>
        <input type="text" id="username" name="username">
        <input type="submit" name='search' value="Search">
    </form>
    <br>
    <br>



    {% if friend[0] %} <!-- friend will not work, dont know why it is even returning an objec -->
        <h2>These are {{friend[0].owner.username}}'s upcoming meals!</h2>
        <form method="POST" action="">
            {% for i in friend %}
                <label>Food: </label>{{i.Name}}
                <br>
                <label>Meal Type: </label>{{i.Type}}
                <br>
                <label>Date: </label>{{i.Date.date()}}
                <br>
                <label>Day: </label>{{i.Date.date().strftime('%A')}}
                <br>
                <input type="checkbox" name="copy" value="{{i.id}}">
            <br>
            {% endfor %}
        <br>
        <input type="submit" name="Add to My Meals" value="Add to My Meals">
        </form>
    {% else %}
        {% if friend %}
            <h2>{{friend_name.username}} does not have any meal plans yet.</h2>
        {% else %}
            <h2>See what your friends are eating now!</h2>
        {% endif %}
    {% endif %}
    <br>
    <br>
    <br>
    <hr>




    <form method="POST">
        <label for="food">Food: </label>
        <input type="text" placeholder="Chicken" name="food" id="food">
        <br>
<!--        <label for="meal">Meal: </label>-->
<!--        <input type="text" placeholder="Breakfast" name="meal">-->
    <label for="meal">Meal Type:</label>
    <select name="meal" required id="meal">
      <option value="Breakfast">Breakfast</option>
      <option value="Lunch">Lunch</option>
      <option value="Tea-Time">Tea-Time</option>
      <option value="Dinner">Dinner</option>
      <option value="Supper">Supper</option>
    </select>
        <br>
        <label for="date">Date: </label>
        <input type="date" name="date" id="date">
        <br>
        <input type="submit" name="add" value="Add">
    </form>
    <br>
    <div>
        {% for i in my %}
            <label>Food: </label>{{i.Name}}
            <br>
            <label>Meal Type: </label>{{i.Type}}
            <br>
            <label>Date: </label>{{i.Date.date()}}
            <br>
            <label>Day: </label>{{i.Date.date().strftime('%A')}}
            <br>
            <form method="POST">
                <input type="hidden" name="delete" value="{{i.id}}">
                <input type="submit" name='submit' value="Delete">
                <input type="submit" name='submit' value="Update">
            </form>
            <br>
        {% endfor %}
    </div>
{% endblock content %}