{% extends 'base.html' %}

{% block content %}

    <h1>Home</h1>
{% if current_user.is_authenticated %}
    <form method="POST" action="">
        {{form.hidden_tag()}}
            <div>
                <div>
                    {{form.feedback.label}}
                    {{form.feedback}}
                </div>
            </div>
        <div>
            {{form.submit}}
        </div>
    </form>
{% endif %}

<div style="padding-top:10px;" >
    <div><hr></div>
    <div><p align="center">View Message History</p></div>
    <div><hr></div>
</div>

<div>
    <div style="overflow-y: scroll; height:500px;">
        {% for i in MESSAGES %}
            <span>{{i.owner.username}}: <b style="margin-left:10px;">{{i.messages}}</b> <p style="text-align-last:right;">{{i.dates.time().hour}}:{{i.dates.time().minute}}</p> </span>
                <br>
        {% endfor %}

        {% if current_user.is_authenticated %}
        <form action="" method="POST" style="bottom:0; margin: 0% 0% 0% 0%;">
            {{form1.hidden_tag()}}
                <div>
                    {{form1.messages}}
                </div>
            <div>
                {{form1.submit}}
            </div>
        </form>
        {% else %}
            <h1 style="text-align:center;">Log in to send your message!</h1>
        {% endif %}
    </div>
</div>


<link rel= "stylesheet" href= "{{ url_for('static',filename='styles/home.css') }}">
<script src="{{url_for('static',filename='js/home.js')}}"></script>
{% endblock content %}


