{% extends 'base.html' %}

{% block content %}
    <h1>Login</h1>
    <form method="POST">
        {{form.hidden_tag()}}
            <div style="width:45%;" class="input-group mb-3">
                {{form.email.label(class="input-group-text",id="inputGroup-sizing-lg")}}
                {{form.email(class="form-control")}}
            </div>
            <div style="width:45%;" class="input-group mb-3">
                {{form.password.label(class="input-group-text",id="inputGroup-sizing-lg")}}
                {{form.password(class="form-control")}}
            </div>

        <div>
            {{form.submit(class="btn btn-outline-success")}}
        </div>
    </form>

{% endblock content %}

