{% extends 'base.html' %}

{% block content %}
    <h1>Create your own recipes here!</h1>

    <form method="POST">
        <label for="Name">Name</label>
        <input type="text" placeholder="Cheesecake" name="Name" id="Name" required>
        <br>
        <label for="Ingredients">Ingredients</label>
        <input type="text" placeholder="Cheese, Oreo" name="Ingredients" id="Ingredients" required>
        <br>
        <label for="Category">Category</label>
        <input type="text" placeholder="Vegetables/Meat" name="Category" id="Category" required>
        <br>
        <input type="submit" name='create' value="Create">
    </form>
    <br>
    <hr>
    <br>

    <form method="POST">
        <label for="Category1">Choose a category</label>
        <select name="Category1" id="Category1">
            <option value="All">All</option>
            {% for i in options %}
                <option value="{{i.Category}}">{{i.Category}}</option>
            {% endfor %}
        </select>
        <input type="submit" name="see" value="See">
    </form>

    <br>
    <br>
    <div>
        {% for i in myrecipes %}
            <h2>Category: <u>{{i[0]}}</u></h2>
            <br>
            {% for j in i[1] %}
                Name: {{j.Name}}
                <br>
                Ingredient: {{j.Ingredients}}
                <br>
                Category: {{j.Category}}
                <br>
                <form method="POST">
                    <input type="hidden" value="{{i[1].id}}" name="delete-update-recipe">
                    <input type="submit" value="Delete" name="delete">
                    <input type="submit" value="Update" name="update">
                </form>
                <br>
            {% endfor %}
            <br>
        {% endfor %}
    </div>
{% endblock content %}