{% extends 'base.html' %}

{% block content %}
    <h1>Create your own recipes here!</h1>

    <form method="POST">
        <div style="width:35%;" class="input-group mb-3">
            <label class="input-group-text" id="inputGroup-sizing-lg" for="Name">Name</label>
            <input class="form-control" type="text" placeholder="Cheesecake" name="Name" id="Name" required>
        </div>
        <br>

        <div style="width:35%;" class="input-group mb-3">
            <label class="input-group-text" id="inputGroup-sizing-lg" for="Ingredients">Ingredients</label>
            <input class="form-control" type="text" placeholder="Cheese, Oreo" name="Ingredients" id="Ingredients" required>
        </div>
        <br>

        <div style="width:35%;" class="input-group mb-3">
            <label class="input-group-text" id="inputGroup-sizing-lg" for="Category">Category</label>
            <input class="form-control" type="text" placeholder="Vegetables/Meat" name="Category" id="Category" required>
        </div>
        <br>

        <input type="submit" name='create' value="Create" class="btn btn-outline-success">
    </form>
    <br>
    <hr>
    <br>

    <form method="POST">
        <div style="width:35%;" class="input-group mb-3">
            <label class="input-group-text" id="inputGroup-sizing-lg" for="Category1">Choose a category</label>
            <select class="form-select" aria-label="Default select example" name="Category1" id="Category1">
                <option value="All">All</option>
                {% for i in options %}
                    <option value="{{i.Category}}">{{i.Category}}</option>
                {% endfor %}
            </select>
        <input type="submit" name="see" value="See" class="btn btn-primary">
        </div>
    </form>

    <br>
    <br>

<!--    <div>-->
<!--        {% for i in myrecipes %}-->
<!--            <h2>Category: <u>{{i[0]}}</u></h2>-->
<!--            <br>-->
<!--            {% for j in i[1] %}-->
<!--                Name: {{j.Name}}-->
<!--                <br>-->
<!--                Ingredient: {{j.Ingredients}}-->
<!--                <br>-->
<!--                Category: {{j.Category}}-->
<!--                <br>-->
<!--                <form method="POST">-->
<!--                    <input type="hidden" value="{{j.id}}" name="delete-update-recipe">-->
<!--                    <input class="btn btn-danger" type="submit" value="Delete" name="delete">-->
<!--                    <input class="btn btn-success" type="submit" value="Update" name="update">-->
<!--                </form>-->
<!--                <br>-->
<!--            {% endfor %}-->
<!--            <br>-->
<!--        {% endfor %}-->
<!--    </div>-->
<table class="table table-hover table-dark">
  <thead>

    <tr>
      <th scope="col">Name</th>
      <th scope="col">Ingredient</th>
      <th scope="col">Category</th>
      <th scope="col">Delete</th>
      <th scope="col">Update</th>
    </tr>

  </thead>
  <tbody>
    {% for i in myrecipes %}
            {% for j in i[1] %}

    <tr>
      <th scope="row">{{j.Name}}</th>
      <td>{{j.Ingredients}}</td>
      <td>{{j.Category}}</td>
      <td>
          <form method="POST">
                <input type="hidden" name="delete-update-recipe" value="{{j.id}}">
                <input class="btn btn-danger" type="submit" name='delete' value="Delete">
          </form>
      </td>
      <td>
          <form method="POST">
                <input type="hidden" name="delete-update-recipe" value="{{j.id}}">
                <input class="btn btn-success" type="submit" name='update' value="Update">
          </form>
      </td>
        {% endfor %}
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock content %}